<br />
<br />
<br />
<br />

<input [(ngModel)] = "idm">


<br />
<br />

<app-home [id] ="idm" (showmee)="onNotifyClick($event) "></app-home>

<br />
<table>

<tr style="border:1px solid black;">
    <th style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;NameMovie&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;TypeMovie&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;MoviePrice&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;Movieid&nbsp;&nbsp;&nbsp;&nbsp;</th>
</tr>


<tr style="border:1px solid black;">
<td style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;{{geturl.NameMovie}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;{{geturl.TypeMovie}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;{{geturl.MoviePrice}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;{{geturl.Movieid}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>

</table>


